.link {
    text-decoration: none;
    margin-bottom: 10px;
    
}
.main_box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
.left_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 500px;
    /* box-shadow: 0px 3px 6px #b9b1b1; */
    /* background: blue; */
    flex-direction: column;
    margin-right: 8px;
    background: #e3d3a6;
    border-radius: 5px;

}

.right_box {
    width: 800px;
    height: 500px;
    /* box-shadow: 0px 3px 6px #b9b1b1; */
    border-radius: 5px;

    background: #e3d3a6;
    
    /* background: #6ba4fa; */

}
/* .btn {
    
} */

.icon {
    width: 20px;
    height: 20px;
    margin-right: 6px;
}
.inline {
    display: flex;
}